# Visual Studio local state
.vs/

# Visual Studio build output
[Bb]in/
[Oo]bj/

# Application run output
[Ll]og/
[Ll]ogs/

# Environment variables file
appsettings.Development.json

CodeCakeBuilder/UnitTestsDone.*.txt
Tests/**/TestResult*.xml
CodeCakeBuilder/MemoryKey.*.txt
Tests/**/Logs/
Tests/**/CKSetup-WorkingDir/
CK.StObj.AutoAssembly.dll.*.cs

$StObjGen/
WorkingDir*/
*.log

CodeCakeBuilder/[Rr]elease/
CodeCakeBuilder/[Rr]eleases/

PickupDirectory/

*.suo
*.user

# Yarn - Not using Zero-Install (.yarn/cache and .pnp.* are not commited).
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Because we can have subordinated .yarn folder we must exclude any .yarn/install-state.gz.
**/.yarn/install-state.gz

